@media (width <= 425px){
    
    body{
        width: 100vw;
    }

    #navbar{
    width: 100vw;
    height: 2.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 42, 42, 0.85);
    z-index: 10;
    position: fixed;
    }

    .home_link{
        text-decoration: none;
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        font-style: oblique;
        letter-spacing: 1rem;
    }

    footer{
        height: 50vh;
        width: 100vw;
        background-color: #e76f51;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 2%;
    }

    #land_acknowledge{
    width: 95%;
    height: 30%;
    font-size: 1em;
    color: white;
    text-align: center;
    font-family: "Spectral", 'Quintessential';
    font-weight: 300;
    }

    #school_foot{
        width: 95%;
        height: 30%;
        font-size: 0.5em;
        color: white;
        text-align: center;
        font-family: "Spectral", 'Quintessential';
        font-weight: 300;
    }


}