.quote_container{
    height: 40%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote{
    width: 70%;
    height: 80%;
    text-align: center;
    font-size: 3rem;
    font-family: 'Tangerine';
    color: #52b788;
    font-weight: bold;
}

#quote_info{
    width: 80%;
    text-align: center;
    margin-top: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
}

#quote1{
        width: 60%;
        height: 80%;
        text-align: center;
        font-size: 4rem;
        font-family: 'Tangerine';
        color: #52b788;
        font-weight: bold;
        margin-top: 4%;
}

#quote_info1{
        width: 80%;
        text-align: center;
        margin-top: 4%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.8em;
}

.container-5{
    width: 100%;
    height: 40em;
    z-index: inherit;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-6{
    width: 100%;
    height: 50em;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: url(../../images/stillStanding3-e1528227227952-900x456.jpg);
    background-size: cover;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.6);
}

.container-6_1{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px) brightness(0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    flex: 1;
    height: 100%;
    padding: 3% 3% 3% 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box1{
    background-color: #fcd5ce;
}

.box2{
    background: #ffe5d9;
}

.box3{
    background-color: #d8e2dc;
}

.box_text{
    font-size: 1.2em;
    font-family: 'Bodoni Moda';
    font-weight: 700;
}

.box_text-3{
    font-size: 1.1em;
}

.impact_text{
    flex: 1;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 1.6em;
    line-break: loose;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3% 3% 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#back_top_btn_fr{
    height: 2.8em;
    width: 2.8em;
    font-size: 1.2em;
    background-color: #0466c8;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    right: 40px;
    bottom: 40px;
    position: fixed;
    z-index: 100;
    display: none;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

#back_top_btn_fr.visible{
    display: block;
    opacity: 1;
}

#infobtn_fr{
    color: white;
}

/*info.html*/

.Source_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

#source_head_container{
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #D7B8F3, #B8B8F3);
    margin-top: 3%;
    margin-bottom: 5%;
    border-radius: 2em;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

#source_head{
    font-size: 6em;
    font-family: "Luckiest Guy", cursive;
    font-weight: 300;
    cursor: default;
    color: white;
    transform: translateZ(20px);
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

#references{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ref_links{
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Noto Sans";
    font-weight: bold;
    margin: 0 0 3% 3%;
    align-self: flex-start;
}

.ref_title{
    font-size: 1.4em;
    font-family: "Noto Sans";
    color: black;
    font-weight: bold;
    align-self: flex-start;
    margin-top: 3%;
}

.ref_content{
    width: 60%;
    margin: 2% 0 2% 0;
    font-size: 1.3em;
    font-family: 'Roboto';
    text-align: center;
}

/*footer*/

#land_acknowledge{
    width: 95%;
    height: 30%;
    font-size: 1.7em;
    color: white;
    text-align: center;
    font-family: "Spectral", 'Quintessential';
    font-weight: 300;
}

#school_foot{
    width: 95%;
    height: 30%;
    font-size: 1.7em;
    color: white;
    text-align: center;
    font-family: "Spectral", 'Quintessential';
    font-weight: 300;
}

footer{
    height: 50vh;
    width: 100%;
    background-color: #e76f51;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 2%;
}